@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.content {
  width: 80%;
  margin: 30px auto;
}

header {
  width: 40%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}


.first {
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}

.logo {
  margin-right: 64px;
}

.links a {
  margin: 0 16px;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  color: #111111;
}

.content__info {
  width: 940px;
  height: 280px;
}

.content__info.last {
  width: 940px;
  height: 112px;
}

.content__info p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-top: 18px;
}

.content__info p + p {
  margin-top: 18px;
}

.second,
.third {
  font-size: 20px;
}

.footer {
  background-color: #eeeeee;
  height: 62px;
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
}

.footer p {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  margin-top: 26px;
}


